# There is another .gitignore file in the react app directory 

# dependencies 
/node_modules 

# testing 
/coverage  

# production 
/build
local_settings.py
/scraper/outputs/*

# sqlite 
*.sqlite3

# misc
__pycache__

.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.log
*.bak  
*.py[cod]




# lab-books 
#/housekeeping/*