/* CSSTransitions FLIPPER */  

.flip-container{
	perspective: 1000px;
	height: $card-height;
	width: $card-width;
}

.flip-container .card-front, 
.flip-container .card-back{
	backface-visibility: hidden; 
}

.flipper-enter{
	opacity: 0.01;
	transform: rotateY(180deg);
}
.flipper-enter-active{
	opacity: 0.98;
	transform: rotateY(0deg);
	transform-style: preserve-3d;
	transition: 1s;
}
.flipper-enter-done{
	opacity: 0.98;
	transform: rotateY(0deg);
}

.flipper-exit{
	opacity: 0.98;
	transform: rotateY(0deg);
}
.flipper-exit-active{
	opacity: 0.01;
	transform: rotateY(-180deg);
	transform-style: preserve-3d;
	transition: 1s;
}
.flipper-exit-done{
	opacity: 0.01;	
	transform: rotateY(-180deg);
}


/* CSSTransitions FADE IN */

.shortfade-enter,
.longfade-enter{
	opacity: 0.01;
}
.shortfade-enter-active{
	opacity: 1;
	transition: opacity 0.2s ease-in-out;
}
.longfade-enter-active{
	opacity: 1;
	transition: opacity 1.2s ease-in-out 0s;
}
.shortfade-enter-done,
.shortfade-exit,
.shortfade-exit-active,
.shortfade-exit-done,
.longfade-enter-done,
.longfade-exit,
.longfade-exit-active,
.longfade-exit-done{
	opacity: 1;
}


/* ONHOVER transition flipper */

// container keeps the perspective
.cuboid-container{
  background: transparent;
  overflow: visible;
  perspective: 1000px;
}

// transition specs defined in the flipper 
.cuboid-flipper{
  opacity: 1;
  position: relative;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out 0s;
}

.cuboid-flipper, .front, .side{
  height: 320px;
  width: 320px;
}

// line up surfaces + hide back of surface during flip
.front, .side{
  backface-visibility: hidden;
  position: absolute;
  	top: 0;
  	left: 0;
  transition: background 0.7s ease-in-out 0s;
}

.front{
  transform: rotateX(0deg);
  z-index: 2;
}

// do a flip on container:hover
.cuboid-container:hover .cuboid-flipper.up{
  transform: rotateX(90deg) translateY(-160px) translateZ(160px);
} 
.cuboid-container:hover .cuboid-flipper.down{
  transform: rotateX(-90deg) translateY(160px) translateZ(160px);
}
.cuboid-container:hover .cuboid-flipper.left{
  transform: rotateY(-90deg) translateX(-160px) translateZ(160px);
}
.cuboid-container:hover .cuboid-flipper.right{
  transform: rotateY(90deg) translateX(160px) translateZ(160px);
}

// side transformation corresponds to transition direction  
.cuboid-flipper.up .side{
  transform: rotateX(-90deg) translateY(160px) translateZ(160px);
}
.cuboid-flipper.down .side{
  transform: rotateX(90deg) translateY(-160px) translateZ(160px);
}
.cuboid-flipper.left .side{
	transform: rotateY(90deg) translateX(160px) translateZ(160px);
}
.cuboid-flipper.right .side{
	transform: rotateY(-90deg) translateX(-160px) translateZ(160px);
}