/* INDEX/POEM LIST PAGE */

/* 
    Resources 
    [link 1]
    https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items
*/

// principal component

div.focal-page {
    border-top: solid 5px $carmine;
    display: grid;
        // align grid
        align-content: center;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-auto-flow: row;
        // justify grid
        justify-content: center;
        // justify items in grid 
        justify-items: center;
    height: 100%;
    padding: 3.3vmax 0;
    position: relative;
    width: 100%;
}

// header

div.focal-page .focal-page-header {
    padding-top: 3rem;
}

div.focal-page .focal-page-title {
    color: $carmine;
    font-family: $Nanum;
    font-size: 3.375em;
    font-weight: 800;
    letter-spacing: 0.3px;
    line-height: 2.14;
    text-align: center;
}

div.focal-page .focal-page-nav {
    text-align: center;
}

// aside

div.focal-page .btn-group.aside-lang {
    @include box-shadow-out;
    position: fixed;
        left: 0;
        top: 8%;
    z-index: 1000;
}

div.focal-page .btn-group.page-control {
    border-top: $alabaster;
    @include box-shadow-out-custom(0px, 3px, 8px, -4px, 1);
    position: fixed;
        right: 0;
        bottom: 0.2%;
    z-index: 1000;
    background: rgba(43, 45, 66, 0.01);
    padding: 0 0.5em;
}

div.focal-page .btn-group.page-control .btn.round{
    border: none;
    margin: 0.217em;
    font-weight: 800;
}

a.btn.round {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
}

// main

div.focal-page .focal-page-main {
    //background: yellow;
    padding-top: 1rem;
    margin: 3.44vh;
}

div.focal-page .focal-page-main.cards {
    // number of cards depends on viewport size
    display: grid;
        // align grid
        align-content: center;
        // align items in grid
        align-items: space-around;
        grid-gap: 5.44vmax;
        grid-template-columns: repeat(auto-fit, 365px);
        grid-auto-rows: 365px;
        // justify grid
        justify-content: center;
        // justify items in grid 
    // required for FF to prevent content expanding the container [link 1]
    font-size: 0.85em;
    min-height: 0;
    min-width: 360px;
    width: 84vw;
}
 
div.focal-page .focal-page-main.cards.grid-1 {
    // fixed card size, tight container size
    grid-gap: 5.44vmax;
    grid-template-columns: 1fr;
    grid-auto-rows: 36vmax;
    width: 55vw;
    max-width: 21.149rem;
}

div.focal-page .focal-page-main.cards.grid-1 .card .card-front{
    align-items: flex-start;
    padding-left: 9.391vw;
}


div.focal-page .focal-page-main.cards.grid-2 {
    // fixed card size, bare minimum container size
    grid-gap: 5.44vmax;
    grid-template-columns: repeat(2, 365px);
    grid-auto-rows: 365px;
    width: 55vw;
}

div.focal-page .focal-page-main.cards.grid-4 {
    // card size and font depend on viewport, full container size
    grid-template-columns: repeat(4, 19.8vmax);
    grid-auto-rows: 19.8vmax;
    grid-gap: auto 0;
    justify-content: center;
    font-size: 0.95vmax;
}

@media screen and (min-width: 1224px) {
    div.focal-page .focal-page-main.cards.grid-4 {
        font-size: 0.85em;
  }
}

div.focal-page .focal-page-main.cards:hover .card {
    // hover over one card, decrease opacity on the container
    opacity: 0.1;
    transition: all 0.3s ease-in-out 0s;
}

div.focal-page .focal-page-main.cards .card:hover {
    // hover over one card, retain the card's opacity
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;
    z-index: 400;
}

/* CARD */

div.card {
    @include box-shadow-out;
    background: $carmine;
    border-radius: 1.5px;
    font-family: $Nanum;
    font-weight: 400;
    position: relative;
    // required for FF to prevent content expanding the container [link 1]
    overflow: hidden;
    max-height: 13.791rem;
    min-width: 0;
}

div.card .card-front,
div.card .card-back {
    @include box-shadow-out;
    // $porcelain
    background: rgba(253, 255, 252, 0.98);
    border: solid 0.5px $isabelline;
    border-radius: 1.5px;
    display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    height: 100%;
    position: absolute;
        top: 0;
        left: 0;
    text-align: justify;
    width: 100%;
}

div.card .card-front:hover,
div.card .card-back:hover,
div.card .card-verses > p:hover {
    cursor: pointer;
}

div.card .card-front.jp-vertical {
    justify-content: flex-start;
    padding-top: 6em;
}

div.card .card-back.jp-vertical {
    padding-top: 4em;
}

div.card .card-front.jp-vertical > .card-verses,
div.card .card-back.jp-vertical {
    @include jp-vertical;
    color: $granite;
    font-family: $Mplus;
    font-size: 1.667em;
    font-weight: 300;
    height: 100%;
    letter-spacing: 2.6px;
    line-height: 1.77;
}

div.focal-page .focal-page-main.cards.grid-1 .card .card-front.jp-vertical{
        align-items: flex-end;
        padding-top: 0;
        padding-right: 8.391vw;
        text-align: center;
}


div.card .card-front {
    /* important for csstransitions/flipper  */
    z-index: 2;
}

div.card .card-back > a,
div.card .card-back > a:visited, {
    color: $granite;
}

div.card .card-back:hover > a,
div.card .card-back:hover > a:visited {
    color: $carmine;
}

div.card .card-numeral {
    font-size: 0.667em;
    position: absolute;
    bottom: 3vh;
    left: 2vw;
}
