/* POEM DETAIL PAGE */

// principal component
// TODO: stack components differently for different screens sizes ?
div.lateral-page{
	background: $porcelain;
    display: grid;
    	grid-gap: 0;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr;
    height: 100%;
    padding: 1rem 0;
    position: relative;
    width: 100%;
}


/* SIDE PANEL */

div.lateral-page .lateral-page-side > div.lateral-page-side-content{
	background: rgba(253, 255, 252, 0.65);
	border: solid 4px $porcelain;
	display: grid;
		grid-gap: 4.2vh;
		grid-template-columns: 1;
		grid-template-rows: max-content max-content 1.44fr 2.26fr 1fr;
	min-height: 90vh;
	padding: 0 3vmin 0 1rem;
	position: fixed;
    	left: 0;
    z-index: 50;
    max-width: 300px;
}

// numeral 
div.lateral-page-side-content > h1{
	color: $rose;
}

// author name  
div.lateral-page-side-content > section:nth-of-type(1){
	line-height: 1.34;
}

// translators 
div.lateral-page-side-content > section:nth-of-type(2){
	align-self: end;
	display: flex;
		align-items: flex-start;
		flex-flow: column nowrap; 
		justify-content: center;
}

div.lateral-page-side-content > section:nth-of-type(2) > button{
	color: $granite;
	font-family: $Source;
	line-height: 1.94;
	margin: 0.5px 0;
	padding: 0.1px 2px 0.1px 0.9px;
}

div.lateral-page-side-content > section:nth-of-type(2) > button:hover{
	background: transparent;
	transition: none;
}

div.lateral-page-side-content > section:nth-of-type(2) > button.active{
	color: $rose;
}

// translated poem 
div.lateral-page-side-content > section:nth-of-type(3){
	font-style: italic;
	font-size: 0.9em;
	line-height: 1.78;
}

// page controls
div.lateral-page-side-content > *:last-child{
	align-self: end;
	padding-bottom: 4.6vh;
}



/* MAIN SECTION */

// individual sections inside main section
div.lateral-page .lateral-page-main > *{
	@include box-shadow-out;
	margin: 4.3vh 2.4vw 5vh;
	padding: 1.5rem 3.46vw;
}

// stack components differently for different screens sizes
section.panels{
	display: grid;
		grid-auto-flow: row dense;
		grid-auto-rows: max-content;
		grid-template-columns: 1fr 1.667fr;
}


// individual panels 
div.panel,
section.panel{
	background: $porcelain;
	border: solid 2px $porcelain;
	cursor: pointer;
	display: flex;
		align-items: center;
		flex-flow: column nowrap;
		justify-content: center;
	overflow:visible;
}

div.panel:hover,
section.panel:hover{
	transition: all 0.3s ease-in-out 0s;
}

div.panel.jp-vertical,
section.panel.jp-vertical{
	@include jp-vertical;	
}

/*
	There are multiple .panel children inside .panels 
	Each .panel has a different color, size, and padding.
	Parent of .cuboid-container must have overflow:visible (.panel)
	Parent of .cuboid-container and .front have the same color 
	Parent of .cuboid-container and .side, in hover states, have the same color 
	Wrapping order: 
	.panel > 
	.cuboid-container > 
	.cuboid-flipper > 
	.front + .side 
*/

// romanized poem flips up 

section.panels > .panel:nth-child(1){
	background: $isabelline;
	grid-area: 1/1/3/2;
	padding: 2rem 0;
}

section.panels > .panel:nth-child(1):hover{
	background: $plum;
}

section.panels > .panel:nth-child(1):hover .front{
	opacity: 0.53;
}

section.panels > .panel:nth-child(1) .cuboid-container:hover .cuboid-flipper{
	transform: rotateX(90deg) translateY(-9vmax) translateZ(9vmax);
}

section.panels > .panel:nth-child(1) .cuboid-flipper, 
section.panels > .panel:nth-child(1) .front, 
section.panels > .panel:nth-child(1) .side{
	height: 18vmax;
	width: 18vmax;
}

section.panels > .panel:nth-child(1) .front{
	background: $isabelline;
}

section.panels > .panel:nth-child(1) .side{
	// eggshell
	background: rgba(252, 248, 240, 0.05);
	color: $porcelain;
	transform: rotateX(-90deg) translateY(9vmax) translateZ(9vmax);
}

section.panels > .panel:nth-child(1) .side:hover{
	// eggshell
	background: rgba(252, 248, 240, 0.01);
}

section.panels > .panel:nth-child(1) .card-verses{
	font-size: 1vmax;
	padding: 3vmax 3vw 0;
}


// japanese poem flips right 

section.panels > .panel:nth-child(2){
	background: $eggshell;
	grid-area: 1/2/5/3;
	min-height: 30vmax;
}

section.panels > .panel:nth-child(2):hover{
	background: $porcelain;
}

section.panels > .panel:nth-child(2):hover .front{
	line-height: 1.46;
	transition: line-height 1s ease-in-out 0s;
}

section.panels > .panel:nth-child(2) .cuboid-container:hover .cuboid-flipper{
	transform: rotateY(90deg) translateX(15vmax) translateZ(15vmax);
}

section.panels > .panel:nth-child(2) .cuboid-flipper, 
section.panels > .panel:nth-child(2) .front, 
section.panels > .panel:nth-child(2) .side{
	height: 30vmax;
	width: 30vmax;
}

section.panels > .panel:nth-child(2) .front{
	@include jp-vertical;
	font-family: $Mplus;
	font-weight: 600;
	line-height: 0;
	background: rgba(239, 233, 231,0.33);
	color: $grullo;
	transition: line-height 1s ease-in-out 0s;
	padding-right: 2.8vmax;
	padding-top: 3.4vmax;
	font-size: 0.78vmax;
	letter-spacing: 10px;
}

section.panels > .panel:nth-child(2) .side{
	background: $porcelain;
	font-family: $Sawarabi;
	color: $granite;
	text-align: right;
	transform: rotateY(-90deg) translateX(-15vmax) translateZ(15vmax);
	display: flex;
		flex-flow: column nowrap;
		align-items: flex-start;
		justify-content: center;
	padding: 5.55vmax 0 5.55vmax 4.6vmax;
}

section.panels > .panel:nth-child(2) .side p{
	font-size: 1.68vmax;
	color: $granite;
	background: rgba(171, 155, 150,0.03);
	letter-spacing: 0.68em;
	line-height: 1.51;
}

section.panels > .panel:nth-child(2) .side:hover{
	background: rgba(171, 155, 150,0.03);
}




// japanese author flip left 

section.panels > .panel:nth-child(3){
	background: $grey;
	font-size: 1rem;
	letter-spacing: 4px;
	line-height: 4.6;
	grid-area: 3/1/6/2;
	padding: 4vmax 0;
}

section.panels > .panel:nth-child(3):hover{
	background: $fern;
}


section.panels > .panel:nth-child(3) .cuboid-container:hover .cuboid-flipper{
	transform: rotateY(-90deg) translateX(-140px) translateZ(140px);
}

section.panels > .panel:nth-child(3) .cuboid-flipper,
section.panels > .panel:nth-child(3) .cuboid-flipper .front,
section.panels > .panel:nth-child(3) .cuboid-flipper .side{
	height: 280px;
	width: 280px;
}

section.panels > .panel:nth-child(3) .cuboid-flipper .front, 
section.panels > .panel:nth-child(3) .cuboid-flipper .side{
	display: flex;
		flex-flow: column nowrap;
		align-items:center;
		justify-content: center;
}

section.panels > .panel:nth-child(3) .front{
	background: $grey;
	color: $granite;
}

section.panels > .panel:nth-child(3) .side{
	background: $pomona;
	color: $grey;
	transform: rotateY(90deg) translateX(140px) translateZ(140px);
}

section.panels > .panel:nth-child(3) .side:hover{
	// pomona
	background: rgba(41, 81, 53, 0.1);
}


// scroll-down link flip down

section.panels > .panel:nth-child(4){
	background: $alabaster;
	font-family: $Source;
	font-size: 5.063vmin;
	font-weight: 500;
	height: 6.063rem;
	grid-area: 5/2/6/3;
	padding: 1px;
	color: $granite;
	align-items: flex-start;
	background: $alabaster;
}

section.panels > .panel:nth-child(4):hover{
	background: $carmine;
}

section.panels > .panel:nth-child(4):hover .front{
	color: $porcelain;
	transition: all 1s ease-in-out 0s;
}


section.panels > .panel:nth-child(4) .front{
	background: transparent;
	padding: 0 6.341vw;
	position: relative;
	cursor: pointer;
}

section.panels > .panel:nth-child(4) a,
section.panels > .panel:nth-child(4) p{
	cursor: pointer;
}



// interpretation panel

main.lateral-page-main .panel.text{
	align-items: flex-start;
	padding: 1vh 0.667rem 2.25rem;
}

main.lateral-page-main .panel.text > p.panel-title{
	font-size: 2.25em;
	line-height: 4.7;
}

main.lateral-page-main .panel.text article{
	font-family: $Source;
	font-size: 1.125em;
	text-align: justify;
}

// add translation panel 

.panel-translations > *:last-child{
	margin-top: 1rem;
	font-size: 0.8em;
}

.panel-translations .form-section:first-child{
	width: 33vw;
}

section.focal-page-main-section{
	@include box-shadow-out;
	width: 63vw;
}

section.focal-page-main-section > .panel{
	align-items: flex-start;
	padding: 1vh 0.667rem 2.25rem;
}

section.focal-page-main-section .panel.text article{
	font-family: $Source;
	font-size: 1.125em;
	text-align: justify;
}
