/* POEM DETAIL COMPONENT */

// principal component

div.lateral-page{
	background: $porcelain;
    display: grid;
    	grid-gap: 0;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr;
    padding: 5rem 2rem;
    position: relative;
}


// side panel

div.lateral-page .lateral-page-side{
	@include box-shadow-out;
	background: $porcelain;
    display: grid;
    	grid-template-columns: 1fr;
    	grid-template-rows: 50px 100px 1fr;
}

div.lateral-page .lateral-page-side > div.lateral-page-side-content{
	display: flex;
		align-items: flex-start;
		flex-flow: column nowrap; 
		justify-content: space-between;
	position: fixed;
    	top: 3rem;
    	left: 2rem;
}

// numeral 

// author name  
div.lateral-page-side-content > section:nth-child(n+1){
	padding: 2rem 0;
}

// translators 
div.lateral-page-side-content > section:nth-child(3){
	display: flex;
		align-items: flex-start;
		flex-flow: column nowrap; 
		justify-content: space-between;
	padding-top: 13rem;
}

div.lateral-page-side-content > section:nth-child(3) > button{
	color: $granite;
	line-height: 1.94;
	margin: 0.5px 0;
	padding: 0 10.33px 0 3.33px;
}
div.lateral-page-side-content > section:nth-child(3) > button:hover{
	background: transparent;
	transition: all 0.3s ease-in-out 0s;
}

div.lateral-page-side-content > section:nth-child(3) > button.active{
	color: $plum;
	transition: all 0.3s ease-in-out 0s;
}

// translated poem 
div.lateral-page-side-content > section:nth-child(4){
	font-size: 1.2em;
	line-height: 1.94;
}

// page controls
div.lateral-page-side-content > *:last-child{
	position: fixed;
		bottom: 6rem;
		left: 2rem;
}

div.lateral-page-side-content > *:last-child > .btn{
	background: transparent;
	color: $granite;
} 
div.lateral-page-side-content > *:last-child > .btn:hover{
	background: $carmine;
	color: $porcelain;
	transition: all 0.3s ease-in-out 0s;
} 


// main 

div.lateral-page .lateral-page-main{
	padding: 2rem 4rem;
}

section.panels{
	display: grid;
		grid-auto-flow: row dense;
		grid-auto-rows: max-content;
		grid-template-columns: 1fr 1.67fr;
}


// panel 

div.panel,
section.panel{
	background: $porcelain;
	border: solid 2px $porcelain;
	overflow: auto;
}

div.panel.jp-vertical,
section.panel.jp-vertical{
	@include jp-vertical;	
}

// individual panels 

section.panels.jp-vertical{
	@include jp-vertical;
}

section.panels > .panel:nth-child(1){
	background: $trolley;
	color: $raisin;
	display: flex;
		align-items: flex-start;
		flex-flow: column nowrap;
		justify-content: center;
	font-family: $Mplus;
	font-weight: 300;
	font-size: 1rem;
	grid-area: 1/1/3/2;
	opacity: 0.7;
	padding: 2.5em 2em;
}
section.panels > .panel:nth-child(1):hover{
	background: $plum;
	color: $porcelain;
	opacity: 1;
	transition: all 0.4s ease-in-out 0s;
}

section.panels > .panel:nth-child(2){
	background: $eggshell;
	color: $grey;
	font-size: 3.8rem;
	height: 40rem;
	grid-area: 1/2/5/3;
	padding: 6rem 7.5rem;
}
section.panels > .panel:nth-child(2):hover{
	background: $grullo;
	color: $plum;
	transition: all 0.4s ease-in-out 0s;
}

section.panels > .panel:nth-child(3){
	background: $grey;
	color: $granite;
	display: flex;
		align-items: center;
		flex-flow: column nowrap;
		justify-content: center;
	font-size: 3.1rem;
	letter-spacing: 8px;
	grid-area: 3/1/6/2;
	padding: 5rem;
	text-align: center;
}
section.panels > .panel:nth-child(3):hover{
	background: $camel;
	transition: all 0.4s ease-in-out 0s;	
}

section.panels > .panel:nth-child(4){
	background: $fern;
	color: $grey;
	font-family: $Mplus;
	font-weight: 300;
	font-size: 3rem;
	grid-area: 5/2/6/3;
	opacity: 0.3;
	padding: 4rem 8% 0.5rem;	
}
section.panels > .panel:nth-child(4):hover{
	background: $rose;
	opacity: 1;
	transition: all 0.4s ease-in-out 0s;	
}


// interpretation panel

main.lateral-page-main .panel.text{
	padding: 2rem 0;
}

main.lateral-page-main .panel.text > p{
	font-size: 2em;
	line-height: 6.5;
	padding-top: 2rem;
}
main.lateral-page-main .panel.text > p:hover{
	color: $carmine;
	transition: all 0.4s ease-in-out 0s;
}

main.lateral-page-main .panel.text article{
	line-height: 1.74;
	text-align: justify;
}