/* POEMS COMPONENT */

// principal component

div.focal-page{
    border-top: solid 5px $carmine;
    border-left: solid 5px $alabaster;
    border-right: solid 5px $alabaster;
    display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: flex-start;
    height: 100%;
    position: relative;
    width: 100%;
}


// header

div.focal-page .focal-page-header{
    padding-top: 7.5rem;
    padding-bottom: 1rem;
}

div.focal-page .focal-page-title{
    color: $carmine;
    font-family: $Nanum;
    font-size: 3em;
    font-weight: 800;
    letter-spacing: 0.3px;
    line-height: 2.44;
    text-align: center;
}

div.focal-page .focal-page-nav{
    text-align: center;
}


// main 

div.focal-page .focal-page-main{
    padding-top: 2rem;
}

div.focal-page .focal-page-main.cards{
    display: flex;
        align-items: center;
        flex-flow: row wrap;
        justify-content: center;
    max-width: 1024px;
}


div.focal-page .focal-page-main.cards:hover .card{
    opacity: 0.2;
    transition: all 0.3s ease-in-out 0s;
}
div.focal-page .focal-page-main.cards .card:hover{
    opacity: 1;
    transition: all 0.3s ease-in-out 0s;    
}

/* CARD */

div.card{
    @include box-shadow-in;
    background: $carmine;
    border-radius: 1.5px;
    font-family: $Nanum;
    font-weight: 400;
    height: $card-height;
    margin: 3em;
    min-width: $card-width;
    position: relative;
}

div.card .card-front,
div.card .card-back{
    @include box-shadow-out;
    // $porcelain
    background: rgba(253, 255, 252, 0.98);
    border: solid 0.5px $isabelline;
    border-radius: 1.5px;
    display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    height: 100%;
    position: absolute;
        top: 0;
        left: 0;
    text-align: justify;
    width: 100%;
}
div.card .card-front:hover,
div.card .card-back:hover,
div.card .card-verses > p:hover{
    cursor: pointer;
}

div.card .card-front.jp-vertical{
   justify-content: flex-start;
   padding-top: 6em;
}

div.card .card-back.jp-vertical{
   padding-top: 4em;  
}

div.card .card-front.jp-vertical > .card-verses,
div.card .card-back.jp-vertical{
    @include jp-vertical;
    font-size: 1.6em;
    font-family: $Mplus;
    font-weight: 300;
    height: 100%;
    letter-spacing: 3px;
    line-height: 1.66;
}

div.card .card-front{
    /* important for csstransitions/flipper  */
    z-index: 2      
}

div.card .card-back > .link,
div.card .card-back > .link:visited{
    color: $granite;
}
div.card .card-back:hover > .link,
div.card .card-back:hover > .link:visited{
    color: $carmine;
}
div.card .card-back > .link.underlined:before{
    height: 1px;
}

div.card .card-numeral{
    font-size: 0.6rem;
    position: absolute;
        bottom: 1em;
        left: 1em;
}
