a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas,
caption, cite, code, dd, del, details, dfn, dl, dt, div, em, embed, fieldset,
figcaption, figure, form, footer, header, html, i, iframe, img, input, ins, kbd,
label, legend, li, link, main, mark, nav, object, ol, output, p, pre, q, s, samp,
section, small, span, strong, sub, summary, sup, table, textarea, tbody,
tfoot, thead, td, th, tr, tt, ruby, time, u, ul, var, video {
  border: 0;
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  outline: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}

html{
  font-size: 37px;
  height: 100%;
  width: 100%;
}

body{
  background: #fff;
  color: $plum;
  font-family: $Nanum;
  font-size: 0.444rem;
  font-weight: 100;
  line-height: 1.64;
  min-height: 100%;
  min-width: 444px;
}
