a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas,
caption, cite, code, dd, del, details, dfn, dl, dt, div, em, embed, fieldset,
figcaption, figure, form, footer, header, html, i, iframe, img, input, ins, kbd,
label, legend, li, link, main, mark, nav, object, ol, output, p, pre, q, s, samp,
section, small, span, strong, sub, summary, sup, table, textarea, tbody,
tfoot, thead, td, th, tr, tt, ruby, time, u, ul, var, video {
  border: 0;
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  outline: none;
  padding: 0;
}

h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0; 
}

html{
  font-size: 18px;
  height: 100%;
  width: 100%;
}

body{
  background: #fff;
  color: $plum;
  font-family: $Roboto;
  font-size: 0.8rem;
  font-weight: 300;
  line-height: 1.6;
  min-height: 100%;
  min-width: 444px;
}


/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  background: $alabaster;
}

/* flip the pane when hovered */
.flip-container:hover .flipper{
  transform: rotateX(-90deg) translateY(160px) translateZ(160px);
}

.flip-container, .front, .back, .flipper{
  width: 320px;
  height: 320px;
  position: relative;
}

/* flip speed goes here */
.flipper {
  position: relative;
  opacity: 1;
  transition: all 0.7s ease-in-out 0s;
  transform-style: preserve-3d;
  transform-origin: 100% 50%;
}



/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */
.front {
  background: orange;
  transform: rotateX(0deg);
  transition: background 0.7s ease-in-out 0s;
  z-index: 2;
}


/* back, initially hidden pane */
.back {
  background: blue;
  transition: background 0.7s ease-in-out 0s;
  transform: rotateX(90deg) translateY(-160px) translateZ(160px);
}
