/* BASIC ANIMATIONS */

.underlined{
  border: none;
  position: relative;
}

.underlined:before{
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  content: '';
  height: 2px;
  transform: scaleX(0);
  visibility: hidden;
  width: 100%;
}

.underlined:hover:before{
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible;
}

.link.underlined:before{
    background: $carmine;
    position: absolute;
        top: 2em;
        left: 0;
}


/* BUTTONS */

button{
  font-family: $Source;
  cursor: pointer;
  outline: none;
}
button:hover{
  transition: all 0.3s ease-in-out 0s;
}
button::-moz-focus-inner {
  border: 0;
}
button.active{
  transition: all 0.3s ease-in-out 0s;
}
.btn.round{
  border-radius: 50%;
  height: 3em;
  text-align: center;
  width: 3em;
}

.btn.brick{
  background: transparent;
  border: solid 0.5px $isabelline;
  line-height: 1.94;
	padding: 0 1.8em;
}


/* BUTTON GROUPS */

.btn-group.aside-lang{
    display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: center;
    position: fixed;
        bottom: 40%;
        left: 1%;
}

.btn-group.aside-lang a{
    background: transparent;
    border-radius: 50%;
    color: $grullo;
    font-family: $Nanum;
    height: 3em;
    line-height: 3;
    margin: 0.56em 1em;
    text-align: center;
    width: 3em;
}
.btn-group.aside-lang a:visited{
  background: transparent;
}
.btn-group.aside-lang a:hover,
.btn-group.aside-lang a.active:hover{
    background: $plum;
    color: $porcelain;
    transition: 0.3s ease-in-out 0s;
}
.btn-group.aside-lang a.active{
  background: $carmine;
  color: $porcelain;
}

.btn-group.aside-scroll{
    display: flex;
        align-items: center;
        flex-flow: column nowrap;
        justify-content: flex-end;
    height: 100%;
    outline: none;
    position: fixed;
        bottom: 24%;
        right: 1%;
}

.btn-group.aside-scroll button{
    background: $granite;
    color: $porcelain;
    font-family: $Nanum;
    margin: 0.66em 1em;
    outline: none;
}
.btn-group.aside-scroll button::-moz-focus-inner {
    border: 0;
}
.btn-group.aside-scroll button:hover{
    background: $carmine;
    transition: 0.3s ease-in-out 0s;
}


/* LINKS */

a{
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.link{
    color: $plum;
    position: relative;
}
.link:hover{
    transition: linear 0.2s;
}

.link.nav-lang{
    font-family: 'Roboto',sans-serif;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: -0.3px;
    margin: 1em;
}
.link.nav-lang:hover{
  color: $carmine;
}

// about link
.link.about{

}
