/* NOTE: Typography */

@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,800|Roboto:300|Song+Myung');

$Roboto : 'Roboto', Tahoma, Arial, sans-serif;
$Source: 'Source Sans Pro', sans-serif;
$Nanum  : 'Nanum Myeongjo', serif;
$Sawarabi:  'Sawarabi Mincho', sans-serif;
$Mplus: 'Mplus 1p', sans-serif;


// Vendor specific

@mixin linear-transition($transition){
  -webkit-transition: linear $transition;
     -moz-transition: linear $transition;
       -o-transition: linear $transition;
          transition: linear $transition;
}
@mixin border-radius($radius){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin box-shadow-out{
  -webkit-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
     -moz-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
          box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
}
@mixin box-shadow-in{
  -webkit-box-shadow: inset 0px 0px 12px -4px rgba(43, 45, 66, 1);
     -moz-box-shadow: inset 0px 0px 12px -4px rgba(43, 45, 66, 1);
          box-shadow: inset 0px 0px 12px -4px rgba(43, 45, 66, 1);
}

// Misc mixins

@mixin jp-vertical{
    text-orientation: upright;
    text-transform: full-width;
    text-combine-upright: digits 4;
    writing-mode: vertical-rl;
}


// Colors

$porcelain: #fdfffc;
$eggshell: #fcf8f0;
$grullo: #ab9b96;

$alabaster: #efe9e7;
$isabelline: #ebebed;
$grey: #d6d2d2;
$trolley: #7d7c7a;
$granite: #66666e;
$plum: #342e37;
$raisin  : #262229;

$carmine: #bb4430;
$camel: #a8763e;
$rose: #ba6e6e;

$fern: #5c7846;
$feldgrau: #4b644a;
$pomona: #295135;
$indigo:  #26413c;


// Scales

// horizontal(x-axis): 18px @ 3:4 (P4)
// vertical(y-axis): 18px @ 3:5 (M6)

$card-width: 360px;
$card-height: 380px;


// NOTE: Imports */

@import 'root';
@import 'csstransitions';
@import 'poemdetail';
@import 'poems';
@import 'toolbox';
@import 'notfound';
