/* NOTE: Typography */
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,800|Roboto:300|Song+Myung");
a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas,
caption, cite, code, dd, del, details, dfn, dl, dt, div, em, embed, fieldset,
figcaption, figure, form, footer, header, html, i, iframe, img, input, ins, kbd,
label, legend, li, link, main, mark, nav, object, ol, output, p, pre, q, s, samp,
section, small, span, strong, sub, summary, sup, table, textarea, tbody,
tfoot, thead, td, th, tr, tt, ruby, time, u, ul, var, video {
  border: 0;
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  outline: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html {
  font-size: 37px;
  height: 100%;
  width: 100%; }

body {
  background: #fff;
  color: #342e37;
  font-family: "Nanum Myeongjo", serif;
  font-size: 0.444rem;
  font-weight: 100;
  line-height: 1.64;
  min-height: 100%;
  min-width: 444px; }

/* CSSTransitions FLIPPER */
.flip-container {
  perspective: 1000px;
  height: 380px;
  width: 360px; }

.flip-container .card-front,
.flip-container .card-back {
  backface-visibility: hidden; }

.flipper-enter {
  opacity: 0.01;
  transform: rotateY(180deg); }

.flipper-enter-active {
  opacity: 0.98;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: 1s; }

.flipper-enter-done {
  opacity: 0.98;
  transform: rotateY(0deg); }

.flipper-exit {
  opacity: 0.98;
  transform: rotateY(0deg); }

.flipper-exit-active {
  opacity: 0.01;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 1s; }

.flipper-exit-done {
  opacity: 0.01;
  transform: rotateY(-180deg); }

/* CSSTransitions FADE IN */
.shortfade-enter,
.longfade-enter {
  opacity: 0.01; }

.shortfade-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }

.longfade-enter-active {
  opacity: 1;
  transition: opacity 1.2s ease-in-out 0s; }

.shortfade-enter-done,
.shortfade-exit,
.shortfade-exit-active,
.shortfade-exit-done,
.longfade-enter-done,
.longfade-exit,
.longfade-exit-active,
.longfade-exit-done {
  opacity: 1; }

/* ONHOVER transition flipper */
.cuboid-container {
  background: transparent;
  overflow: visible;
  perspective: 1000px; }

.cuboid-flipper {
  position: relative;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out 0s; }

.cuboid-flipper, .front, .side {
  cursor: pointer; }

.front, .side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: background 0.7s ease-in-out 0s; }

.front {
  transform: rotateX(0deg);
  z-index: 2; }

/*
// do a flip on container:hover
.cuboid-container:hover .cuboid-flipper.up{
  transform: rotateX(90deg) translateY(-160px) translateZ(160px);
} 
.cuboid-container:hover .cuboid-flipper.down{
  transform: rotateX(-90deg) translateY(160px) translateZ(160px);
}
.cuboid-container:hover .cuboid-flipper.left{
  transform: rotateY(-90deg) translateX(-160px) translateZ(160px);
}
.cuboid-container:hover .cuboid-flipper.right{
  transform: rotateY(90deg) translateX(160px) translateZ(160px);
}

// side transformation corresponds to transition direction  
.cuboid-flipper.up .side{
  transform: rotateX(-90deg) translateY(160px) translateZ(160px);
}
.cuboid-flipper.down .side{
  transform: rotateX(90deg) translateY(-160px) translateZ(160px);
}
.cuboid-flipper.left .side{
	transform: rotateY(90deg) translateX(160px) translateZ(160px);
}
.cuboid-flipper.right .side{
	transform: rotateY(-90deg) translateX(-160px) translateZ(160px);
}
*/
/* POEM DETAIL COMPONENT */
div.lateral-page {
  background: #fdfffc;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  padding: 1rem 0;
  position: relative;
  width: 100%; }

/* Side Panel */
div.lateral-page .lateral-page-side > div.lateral-page-side-content {
  background: rgba(253, 255, 252, 0.65);
  border: solid 4px #fdfffc;
  display: grid;
  grid-gap: 3.2vh;
  grid-template-columns: 1;
  grid-template-rows: max-content max-content 1.64fr 2fr 1fr;
  min-height: 90vh;
  padding: 0 3vmin 0 1rem;
  position: fixed;
  left: 0;
  z-index: 50; }

div.lateral-page-side-content > h1 {
  color: #ba6e6e; }

div.lateral-page-side-content > section:nth-of-type(1) {
  line-height: 1.34; }

div.lateral-page-side-content > section:nth-of-type(2) {
  align-self: end;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: center; }

div.lateral-page-side-content > section:nth-of-type(2) > button {
  color: #66666e;
  line-height: 1.94;
  margin: 0.5px 0;
  padding: 0.1px 2px 0.1px 0.9px; }

div.lateral-page-side-content > section:nth-of-type(2) > button:hover {
  background: transparent;
  transition: none; }

div.lateral-page-side-content > section:nth-of-type(2) > button.active {
  color: #ba6e6e; }

div.lateral-page-side-content > section:nth-of-type(3) {
  line-height: 1.88; }

div.lateral-page-side-content > *:last-child {
  align-self: end;
  padding-bottom: 4.6vh; }

div.lateral-page-side-content > *:last-child button {
  border: solid 0.5px #ebebed; }

/* MAIN SECTION */
div.lateral-page .lateral-page-main > * {
  -webkit-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  margin: 4.3vh 2.4vw 5vh;
  padding: 1.5rem 3.46vw; }

section.panels {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1.667fr; }

div.panel,
section.panel {
  background: #fdfffc;
  border: solid 2px #fdfffc;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: visible; }

div.panel:hover,
section.panel:hover {
  transition: all 0.3s ease-in-out 0s; }

div.panel.jp-vertical,
section.panel.jp-vertical {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl; }

/*
	There are multiple .panel children inside .panels 
	Each .panel has a different color, size, and padding.
	Parent of .cuboid-container must have overflow:visible (.panel)
	Parent of .cuboid-container and .front have the same color 
	Parent of .cuboid-container and .side, in hover states, have the same color 
	Wrapping order: 
	.panel > 
	.cuboid-container > 
	.cuboid-flipper > 
	.front + .side 
*/
section.panels > .panel:nth-child(1) {
  background: #ebebed;
  grid-area: 1/1/3/2;
  padding: 2rem 0; }

section.panels > .panel:nth-child(1):hover {
  background: #ab9b96; }

section.panels > .panel:nth-child(1) .cuboid-container:hover .cuboid-flipper {
  transform: rotateX(90deg) translateY(-9vmax) translateZ(9vmax); }

section.panels > .panel:nth-child(1) .cuboid-flipper,
section.panels > .panel:nth-child(1) .front,
section.panels > .panel:nth-child(1) .side {
  height: 18vmax;
  width: 18vmax; }

section.panels > .panel:nth-child(1) .front {
  background: #ebebed; }

section.panels > .panel:nth-child(1) .side {
  background: pink;
  transform: rotateX(-90deg) translateY(9vmax) translateZ(9vmax); }

section.panels > .panel:nth-child(1) .side:hover {
  background: #ab9b96; }

section.panels > .panel:nth-child(1) .card-verses {
  font-size: 1vmax;
  padding: 3vmax 3vw 0; }

section.panels > .panel:nth-child(2) {
  background: #fcf8f0;
  grid-area: 1/2/5/3;
  min-height: 28vmax; }

section.panels > .panel:nth-child(2):hover {
  background: #ab9b96; }

section.panels > .panel:nth-child(2) .cuboid-container:hover .cuboid-flipper {
  transform: rotateY(90deg) translateX(14vmax) translateZ(14vmax); }

section.panels > .panel:nth-child(2) .cuboid-flipper,
section.panels > .panel:nth-child(2) .front,
section.panels > .panel:nth-child(2) .side {
  height: 28vmax;
  width: 28vmax; }

section.panels > .panel:nth-child(2) .front {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl;
  font-family: "Mplus 1p", sans-serif;
  font-weight: 600;
  background: #fcf8f0; }

section.panels > .panel:nth-child(2) .side {
  background: #fdfffc;
  font-family: "Sawarabi Mincho", sans-serif;
  line-height: 1.34;
  text-align: right;
  transform: rotateY(-90deg) translateX(-14vmax) translateZ(14vmax); }

section.panels > .panel:nth-child(2) .side:hover {
  background: #ab9b96; }

section.panels > .panel:nth-child(2) .card-verses {
  font-size: 2.5vmax;
  letter-spacing: 10px;
  padding: 4vmax 4vmax 0; }

section.panels > .panel:nth-child(3) {
  background: #d6d2d2;
  font-size: 1rem;
  letter-spacing: 4px;
  line-height: 4.6;
  grid-area: 3/1/6/2;
  padding: 4vmax 0;
  text-align: center; }

section.panels > .panel:nth-child(3):hover {
  background: #ba6e6e; }

section.panels > .panel:nth-child(3) .cuboid-container:hover .cuboid-flipper {
  transform: rotateY(-90deg) translateX(-140px) translateZ(140px); }

section.panels > .panel:nth-child(3) .cuboid-flipper,
section.panels > .panel:nth-child(3) .cuboid-flipper .front,
section.panels > .panel:nth-child(3) .cuboid-flipper .side {
  height: 280px;
  width: 280px; }

section.panels > .panel:nth-child(3) .front {
  background: #d6d2d2; }

section.panels > .panel:nth-child(3) .side {
  background: #fdfffc;
  transform: rotateY(90deg) translateX(140px) translateZ(140px); }

section.panels > .panel:nth-child(3) .side:hover {
  background: #ba6e6e; }

section.panels > .panel:nth-child(4) {
  background: #efe9e7;
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5.063vmin;
  font-weight: 500;
  height: 6.063rem;
  grid-area: 5/2/6/3;
  padding: 1px; }

section.panels > .panel:nth-child(4):hover {
  background: #fdfffc; }

section.panels > .panel:nth-child(4) .cuboid-container:hover .cuboid-flipper {
  transform: rotateX(90deg) translateY(-6.5vmin) translateZ(6.5vmin); }

section.panels > .panel:nth-child(4) .cuboid-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

section.panels > .panel:nth-child(4) .cuboid-flipper,
section.panels > .panel:nth-child(4) .cuboid-flipper .front,
section.panels > .panel:nth-child(4) .cuboid-flipper .side {
  height: 13vmin;
  width: 100%; }

section.panels > .panel:nth-child(4) .front {
  background: #efe9e7; }

section.panels > .panel:nth-child(4) .side {
  background: #ba6e6e;
  transform: rotateX(-90deg) translateY(6.5vmin) translateZ(6.5vmin); }

section.panels > .panel:nth-child(4) .side:hover {
  background: #fdfffc; }

section.panels > .panel:nth-child(4) p {
  padding-left: 2.25rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%); }

main.lateral-page-main .panel.text {
  align-items: flex-start;
  padding: 1vh 0.667rem 2.25rem; }

main.lateral-page-main .panel.text > p {
  font-size: 2.25em;
  line-height: 4.7; }

main.lateral-page-main .panel.text article {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125em;
  text-align: justify; }

/* POEMS COMPONENT */
div.focal-page {
  border-top: solid 5px #bb4430;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
  padding: 3.3vmax 0;
  position: relative;
  width: 100%; }

div.focal-page .focal-page-header {
  padding-top: 3rem; }

div.focal-page .focal-page-title {
  color: #bb4430;
  font-family: "Nanum Myeongjo", serif;
  font-size: 3.375em;
  font-weight: 800;
  letter-spacing: 0.3px;
  line-height: 2.14;
  text-align: center; }

div.focal-page .focal-page-nav {
  text-align: center; }

div.focal-page .focal-page-main {
  padding-top: 0.667rem; }

div.focal-page .focal-page-main.cards {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  max-width: 1024px; }

div.focal-page .focal-page-main.cards:hover .card {
  opacity: 0.2;
  transition: all 0.3s ease-in-out 0s; }

div.focal-page .focal-page-main.cards .card:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
  z-index: 1000; }

/* CARD */
div.card {
  -webkit-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  background: #bb4430;
  border-radius: 1.5px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  height: 380px;
  margin: 3em;
  min-width: 360px;
  position: relative; }

div.card .card-front,
div.card .card-back {
  -webkit-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  background: rgba(253, 255, 252, 0.98);
  border: solid 0.5px #ebebed;
  border-radius: 1.5px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: justify;
  width: 100%; }

div.card .card-front:hover,
div.card .card-back:hover,
div.card .card-verses > p:hover {
  cursor: pointer; }

div.card .card-front.jp-vertical {
  justify-content: flex-start;
  padding-top: 6em; }

div.card .card-back.jp-vertical {
  padding-top: 4em; }

div.card .card-front.jp-vertical > .card-verses,
div.card .card-back.jp-vertical {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl;
  font-size: 1.6em;
  font-family: "Mplus 1p", sans-serif;
  font-weight: 300;
  height: 100%;
  letter-spacing: 3px;
  line-height: 1.66; }

div.card .card-front {
  /* important for csstransitions/flipper  */
  z-index: 2; }

div.card .card-back > .link,
div.card .card-back > .link:visited {
  color: #66666e; }

div.card .card-back:hover > .link,
div.card .card-back:hover > .link:visited {
  color: #bb4430; }

div.card .card-back > .link.underlined:before {
  height: 1px; }

div.card .card-numeral {
  font-size: 0.6rem;
  position: absolute;
  bottom: 1em;
  left: 1em; }

/* BASIC ANIMATIONS */
.underlined {
  border: none;
  position: relative; }

.underlined:before {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  content: '';
  height: 2px;
  transform: scaleX(0);
  visibility: hidden;
  width: 100%; }

.underlined:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible; }

.link.underlined:before {
  background: #bb4430;
  position: absolute;
  top: 2em;
  left: 0; }

/* BUTTONS */
button {
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  outline: none; }

button:hover {
  transition: all 0.3s ease-in-out 0s; }

button::-moz-focus-inner {
  border: 0; }

button.active {
  transition: all 0.3s ease-in-out 0s; }

.btn.round {
  border-radius: 50%;
  height: 3em;
  text-align: center;
  width: 3em; }

.btn.brick {
  background: transparent;
  line-height: 1.94;
  padding: 0 1.8em; }

/* BUTTON GROUPS */
.btn-group.aside-lang {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  bottom: 40%;
  left: 1%; }

.btn-group.aside-lang a {
  background: transparent;
  border-radius: 50%;
  color: #ab9b96;
  font-family: "Nanum Myeongjo", serif;
  height: 3em;
  line-height: 3;
  margin: 0.56em 1em;
  text-align: center;
  width: 3em; }

.btn-group.aside-lang a:visited {
  background: transparent; }

.btn-group.aside-lang a:hover,
.btn-group.aside-lang a.active:hover {
  background: #342e37;
  color: #fdfffc;
  transition: 0.3s ease-in-out 0s; }

.btn-group.aside-lang a.active {
  background: #bb4430;
  color: #fdfffc; }

.btn-group.page-control {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start; }

.btn-group.page-control.vertical {
  flex-flow: column nowrap;
  justify-content: center; }

.btn-group.page-control button {
  background: transparent;
  color: #66666e; }

.btn-group.page-control button:hover {
  background: #bb4430;
  color: #fdfffc; }

.btn-group.page-control button:first-child {
  border-right: none; }

.btn-group.page-control button:last-child {
  border-left: none; }

/* LINKS */
a {
  cursor: pointer;
  outline: none;
  text-decoration: none; }

.link {
  color: #342e37;
  position: relative; }

.link:hover {
  transition: linear 0.2s; }

.link.nav-lang {
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.3px;
  margin: 1em; }

.link.nav-lang:hover {
  color: #bb4430; }

/* NOT FOUND COMPONENT */
div.focal-page.notfound {
  justify-content: center; }

/*# sourceMappingURL=index.css.map */
