/* CONSTANTS */
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,800|Roboto:300|Song+Myung");
a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas,
caption, cite, code, dd, del, details, dfn, dl, dt, div, em, embed, fieldset,
figcaption, figure, form, footer, header, html, i, iframe, img, input, ins, kbd,
label, legend, li, link, main, mark, nav, object, ol, output, p, pre, q, s, samp,
section, small, span, strong, sub, summary, sup, table, textarea, tbody,
tfoot, thead, td, th, tr, tt, ruby, time, u, ul, var, video {
  border: 0;
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  outline: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html {
  font-size: 37px;
  height: 100%;
  width: 100%; }

body {
  background: #fff;
  color: #342e37;
  font-family: "Nanum Myeongjo", serif;
  font-size: 0.444rem;
  font-weight: 100;
  line-height: 1.64;
  min-height: 100%;
  min-width: 444px; }

/* CSSTransitions FLIPPER */
.flip-container {
  perspective: 1000px; }

.flip-container .card-front,
.flip-container .card-back {
  backface-visibility: hidden; }

.flipper-enter {
  opacity: 0.01;
  transform: rotateY(180deg); }

.flipper-enter-active {
  opacity: 0.98;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: 1s; }

.flipper-enter-done {
  opacity: 0.98;
  transform: rotateY(0deg); }

.flipper-exit {
  opacity: 0.98;
  transform: rotateY(0deg); }

.flipper-exit-active {
  opacity: 0.01;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 1s; }

.flipper-exit-done {
  opacity: 0.01;
  transform: rotateY(-180deg); }

/* CSSTransitions FADE IN */
.shortfade-enter,
.longfade-enter {
  opacity: 0.01; }

.shortfade-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }

.longfade-enter-active {
  opacity: 1;
  transition: opacity 1.2s ease-in-out 0s; }

.shortfade-enter-done,
.shortfade-exit,
.shortfade-exit-active,
.shortfade-exit-done,
.longfade-enter-done,
.longfade-exit,
.longfade-exit-active,
.longfade-exit-done {
  opacity: 1; }

/* ONHOVER transition flipper */
.cuboid-container {
  background: transparent;
  overflow: visible;
  perspective: 1000px; }

.cuboid-flipper {
  position: relative;
  transform-origin: 50% 50%;
  transform-style: preserve-3d;
  transition: all 0.7s ease-in-out 0s; }

.cuboid-flipper, .front, .side {
  cursor: pointer; }

.front, .side {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: background 0.7s ease-in-out 0s; }

.front {
  transform: rotateX(0deg);
  z-index: 2; }

/*

// do a flip on container:hover
.cuboid-container:hover .cuboid-flipper.up{
  transform: rotateX(90deg) translateY(-160px) translateZ(160px);
} 
.cuboid-container:hover .cuboid-flipper.down{
  transform: rotateX(-90deg) translateY(160px) translateZ(160px);
}
.cuboid-container:hover .cuboid-flipper.left{
  transform: rotateY(-90deg) translateX(-160px) translateZ(160px);
}
.cuboid-container:hover .cuboid-flipper.right{
  transform: rotateY(90deg) translateX(160px) translateZ(160px);
}

// side transformation corresponds to transition direction  
.cuboid-flipper.up .side{
  transform: rotateX(-90deg) translateY(160px) translateZ(160px);
}
.cuboid-flipper.down .side{
  transform: rotateX(90deg) translateY(-160px) translateZ(160px);
}
.cuboid-flipper.left .side{
	transform: rotateY(90deg) translateX(160px) translateZ(160px);
}
.cuboid-flipper.right .side{
	transform: rotateY(-90deg) translateX(-160px) translateZ(160px);
}

*/
/* POEM DETAIL PAGE */
div.lateral-page {
  background: #fdfffc;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr;
  height: 100%;
  padding: 1rem 0;
  position: relative;
  width: 100%; }

/* SIDE PANEL */
div.lateral-page .lateral-page-side > div.lateral-page-side-content {
  background: rgba(253, 255, 252, 0.65);
  border: solid 4px #fdfffc;
  display: grid;
  grid-gap: 4.2vh;
  grid-template-columns: 1;
  grid-template-rows: max-content max-content 1.44fr 2.26fr 1fr;
  min-height: 90vh;
  padding: 0 3vmin 0 1rem;
  position: fixed;
  left: 0;
  z-index: 50;
  max-width: 300px; }

div.lateral-page-side-content > h1 {
  color: #ba6e6e; }

div.lateral-page-side-content > section:nth-of-type(1) {
  line-height: 1.34; }

div.lateral-page-side-content > section:nth-of-type(2) {
  align-self: end;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: center; }

div.lateral-page-side-content > section:nth-of-type(2) > button {
  color: #66666e;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.94;
  margin: 0.5px 0;
  padding: 0.1px 2px 0.1px 0.9px; }

div.lateral-page-side-content > section:nth-of-type(2) > button:hover {
  background: transparent;
  transition: none; }

div.lateral-page-side-content > section:nth-of-type(2) > button.active {
  color: #ba6e6e; }

div.lateral-page-side-content > section:nth-of-type(3) {
  font-style: italic;
  font-size: 0.9em;
  line-height: 1.78; }

div.lateral-page-side-content > *:last-child {
  align-self: end;
  padding-bottom: 4.6vh; }

/* MAIN SECTION */
div.lateral-page .lateral-page-main > * {
  -webkit-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  margin: 4.3vh 2.4vw 5vh;
  padding: 1.5rem 3.46vw; }

section.panels {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1.667fr; }

div.panel,
section.panel {
  background: #fdfffc;
  border: solid 2px #fdfffc;
  cursor: pointer;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  overflow: visible; }

div.panel:hover,
section.panel:hover {
  transition: all 0.3s ease-in-out 0s; }

div.panel.jp-vertical,
section.panel.jp-vertical {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl; }

/*
	There are multiple .panel children inside .panels 
	Each .panel has a different color, size, and padding.
	Parent of .cuboid-container must have overflow:visible (.panel)
	Parent of .cuboid-container and .front have the same color 
	Parent of .cuboid-container and .side, in hover states, have the same color 
	Wrapping order: 
	.panel > 
	.cuboid-container > 
	.cuboid-flipper > 
	.front + .side 
*/
section.panels > .panel:nth-child(1) {
  background: #ebebed;
  grid-area: 1/1/3/2;
  padding: 2rem 0; }

section.panels > .panel:nth-child(1):hover {
  background: #342e37; }

section.panels > .panel:nth-child(1):hover .front {
  opacity: 0.53; }

section.panels > .panel:nth-child(1) .cuboid-container:hover .cuboid-flipper {
  transform: rotateX(90deg) translateY(-9vmax) translateZ(9vmax); }

section.panels > .panel:nth-child(1) .cuboid-flipper,
section.panels > .panel:nth-child(1) .front,
section.panels > .panel:nth-child(1) .side {
  height: 18vmax;
  width: 18vmax; }

section.panels > .panel:nth-child(1) .front {
  background: #ebebed; }

section.panels > .panel:nth-child(1) .side {
  background: rgba(252, 248, 240, 0.05);
  color: #fdfffc;
  transform: rotateX(-90deg) translateY(9vmax) translateZ(9vmax); }

section.panels > .panel:nth-child(1) .side:hover {
  background: rgba(252, 248, 240, 0.01); }

section.panels > .panel:nth-child(1) .card-verses {
  font-size: 1vmax;
  padding: 3vmax 3vw 0; }

section.panels > .panel:nth-child(2) {
  background: #fcf8f0;
  grid-area: 1/2/5/3;
  min-height: 30vmax; }

section.panels > .panel:nth-child(2):hover {
  background: #fdfffc; }

section.panels > .panel:nth-child(2):hover .front {
  line-height: 1.46;
  transition: line-height 1s ease-in-out 0s; }

section.panels > .panel:nth-child(2) .cuboid-container:hover .cuboid-flipper {
  transform: rotateY(90deg) translateX(15vmax) translateZ(15vmax); }

section.panels > .panel:nth-child(2) .cuboid-flipper,
section.panels > .panel:nth-child(2) .front,
section.panels > .panel:nth-child(2) .side {
  height: 30vmax;
  width: 30vmax; }

section.panels > .panel:nth-child(2) .front {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl;
  font-family: "Mplus 1p", sans-serif;
  font-weight: 600;
  line-height: 0;
  background: rgba(239, 233, 231, 0.33);
  color: #ab9b96;
  transition: line-height 1s ease-in-out 0s;
  padding-right: 2.8vmax;
  padding-top: 3.4vmax;
  font-size: 0.78vmax;
  letter-spacing: 10px; }

section.panels > .panel:nth-child(2) .side {
  background: #fdfffc;
  font-family: "Sawarabi Mincho", sans-serif;
  color: #66666e;
  text-align: right;
  transform: rotateY(-90deg) translateX(-15vmax) translateZ(15vmax);
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: center;
  padding: 5.55vmax 0 5.55vmax 4.6vmax; }

section.panels > .panel:nth-child(2) .side p {
  font-size: 1.68vmax;
  color: #66666e;
  background: rgba(171, 155, 150, 0.03);
  letter-spacing: 0.68em;
  line-height: 1.51; }

section.panels > .panel:nth-child(2) .side:hover {
  background: rgba(171, 155, 150, 0.03); }

section.panels > .panel:nth-child(3) {
  background: #d6d2d2;
  font-size: 1rem;
  letter-spacing: 4px;
  line-height: 4.6;
  grid-area: 3/1/6/2;
  padding: 4vmax 0; }

section.panels > .panel:nth-child(3):hover {
  background: #5c7846; }

section.panels > .panel:nth-child(3) .cuboid-container:hover .cuboid-flipper {
  transform: rotateY(-90deg) translateX(-140px) translateZ(140px); }

section.panels > .panel:nth-child(3) .cuboid-flipper,
section.panels > .panel:nth-child(3) .cuboid-flipper .front,
section.panels > .panel:nth-child(3) .cuboid-flipper .side {
  height: 280px;
  width: 280px; }

section.panels > .panel:nth-child(3) .cuboid-flipper .front,
section.panels > .panel:nth-child(3) .cuboid-flipper .side {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center; }

section.panels > .panel:nth-child(3) .front {
  background: #d6d2d2;
  color: #66666e; }

section.panels > .panel:nth-child(3) .side {
  background: #295135;
  color: #d6d2d2;
  transform: rotateY(90deg) translateX(140px) translateZ(140px); }

section.panels > .panel:nth-child(3) .side:hover {
  background: rgba(41, 81, 53, 0.1); }

section.panels > .panel:nth-child(4) {
  background: #efe9e7;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 5.063vmin;
  font-weight: 500;
  height: 6.063rem;
  grid-area: 5/2/6/3;
  padding: 1px;
  color: #66666e;
  align-items: flex-start;
  background: #efe9e7; }

section.panels > .panel:nth-child(4):hover {
  background: #bb4430; }

section.panels > .panel:nth-child(4):hover .front {
  color: #fdfffc;
  transition: all 1s ease-in-out 0s; }

section.panels > .panel:nth-child(4) .front {
  background: transparent;
  padding: 0 6.341vw;
  position: relative;
  cursor: pointer; }

section.panels > .panel:nth-child(4) a,
section.panels > .panel:nth-child(4) p {
  cursor: pointer; }

main.lateral-page-main .panel.text {
  align-items: flex-start;
  padding: 1vh 0.667rem 2.25rem; }

main.lateral-page-main .panel.text > p.panel-title {
  font-size: 2.25em;
  line-height: 4.7; }

main.lateral-page-main .panel.text article {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125em;
  text-align: justify; }

.panel-translations > *:last-child {
  margin-top: 1rem;
  font-size: 0.8em; }

.panel-translations .form-section:first-child {
  width: 33vw; }

section.focal-page-main-section {
  -webkit-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  width: 63vw; }

section.focal-page-main-section > .panel {
  align-items: flex-start;
  padding: 1vh 0.667rem 2.25rem; }

section.focal-page-main-section .panel.text article {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.125em;
  text-align: justify; }

/* INDEX/POEM LIST PAGE */
/* 
    Resources 
    [link 1]
    https://stackoverflow.com/questions/43311943/prevent-content-from-expanding-grid-items
*/
div.focal-page {
  border-top: solid 5px #bb4430;
  display: grid;
  align-content: center;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  justify-content: center;
  justify-items: center;
  height: 100%;
  padding: 3.3vmax 0;
  position: relative;
  width: 100%; }

div.focal-page .focal-page-header {
  padding-top: 3rem; }

div.focal-page .focal-page-title {
  color: #bb4430;
  font-family: "Nanum Myeongjo", serif;
  font-size: 3.375em;
  font-weight: 800;
  letter-spacing: 0.3px;
  line-height: 2.14;
  text-align: center; }

div.focal-page .focal-page-nav {
  text-align: center; }

div.focal-page .btn-group.aside-lang {
  -webkit-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  position: fixed;
  left: 0;
  top: 8%;
  z-index: 1000; }

div.focal-page .btn-group.page-control {
  border-top: #efe9e7;
  -webkit-box-shadow: 0px 3px 8px -4px #2b2d42;
  -moz-box-shadow: 0px 3px 8px -4px #2b2d42;
  box-shadow: 0px 3px 8px -4px #2b2d42;
  position: fixed;
  right: 0;
  bottom: 0.2%;
  z-index: 1000;
  background: rgba(43, 45, 66, 0.01);
  padding: 0 0.5em; }

div.focal-page .btn-group.page-control .btn.round {
  border: none;
  margin: 0.217em;
  font-weight: 800; }

a.btn.round {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap; }

div.focal-page .focal-page-main {
  padding-top: 1rem;
  margin: 3.44vh; }

div.focal-page .focal-page-main.cards {
  display: grid;
  align-content: center;
  align-items: space-around;
  grid-gap: 5.44vmax;
  grid-template-columns: repeat(auto-fit, 365px);
  grid-auto-rows: 365px;
  justify-content: center;
  font-size: 0.85em;
  min-height: 0;
  min-width: 360px;
  width: 84vw; }

div.focal-page .focal-page-main.cards.grid-1 {
  grid-gap: 5.44vmax;
  grid-template-columns: 1fr;
  grid-auto-rows: 36vmax;
  width: 55vw;
  max-width: 21.149rem; }

div.focal-page .focal-page-main.cards.grid-1 .card .card-front {
  align-items: flex-start;
  padding-left: 9.391vw; }

div.focal-page .focal-page-main.cards.grid-2 {
  grid-gap: 5.44vmax;
  grid-template-columns: repeat(2, 365px);
  grid-auto-rows: 365px;
  width: 55vw; }

div.focal-page .focal-page-main.cards.grid-4 {
  grid-template-columns: repeat(4, 19.8vmax);
  grid-auto-rows: 19.8vmax;
  grid-gap: auto 0;
  justify-content: center;
  font-size: 0.95vmax; }

@media screen and (min-width: 1224px) {
  div.focal-page .focal-page-main.cards.grid-4 {
    font-size: 0.85em; } }
div.focal-page .focal-page-main.cards:hover .card {
  opacity: 0.1;
  transition: all 0.3s ease-in-out 0s; }

div.focal-page .focal-page-main.cards .card:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out 0s;
  z-index: 400; }

/* CARD */
div.card {
  -webkit-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  background: #bb4430;
  border-radius: 1.5px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  max-height: 13.791rem;
  min-width: 0; }

div.card .card-front,
div.card .card-back {
  -webkit-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  background: rgba(253, 255, 252, 0.98);
  border: solid 0.5px #ebebed;
  border-radius: 1.5px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: justify;
  width: 100%; }

div.card .card-front:hover,
div.card .card-back:hover,
div.card .card-verses > p:hover {
  cursor: pointer; }

div.card .card-front.jp-vertical {
  justify-content: flex-start;
  padding-top: 6em; }

div.card .card-back.jp-vertical {
  padding-top: 4em; }

div.card .card-front.jp-vertical > .card-verses,
div.card .card-back.jp-vertical {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl;
  color: #66666e;
  font-family: "Mplus 1p", sans-serif;
  font-size: 1.667em;
  font-weight: 300;
  height: 100%;
  letter-spacing: 2.6px;
  line-height: 1.77; }

div.focal-page .focal-page-main.cards.grid-1 .card .card-front.jp-vertical {
  align-items: flex-end;
  padding-top: 0;
  padding-right: 8.391vw;
  text-align: center; }

div.card .card-front {
  /* important for csstransitions/flipper  */
  z-index: 2; }

div.card .card-back > a,
div.card .card-back > a:visited {
  color: #66666e; }

div.card .card-back:hover > a,
div.card .card-back:hover > a:visited {
  color: #bb4430; }

div.card .card-numeral {
  font-size: 0.667em;
  position: absolute;
  bottom: 3vh;
  left: 2vw; }

/* BUTTONS */
button {
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  outline: none; }

button:hover {
  transition: all 0.3s ease-in-out 0s; }

button::-moz-focus-inner {
  border: 0; }

button.active {
  transition: all 0.3s ease-in-out 0s; }

.btn.round {
  border-radius: 50%;
  height: 0.8rem;
  text-align: center;
  width: 0.8rem; }

.btn.brick {
  background: transparent;
  line-height: 1.94;
  padding: 0 1.8em; }

/* BUTTON GROUPS */
.btn-group.aside-lang {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 2vmin 0; }

.btn-group.aside-lang .link {
  background: transparent;
  border-radius: 50%;
  color: #ab9b96;
  font-family: "Nanum Myeongjo", serif;
  font-size: 0.8em;
  margin: 0.36em;
  height: 2.8em;
  width: 2.8em;
  padding: 0.6em;
  text-align: center;
  transition: all 0.3s ease-in-out 0; }

.btn-group.aside-lang .link:hover,
.btn-group.aside-lang .link.active:hover {
  background: #342e37;
  color: #fdfffc; }

.btn-group.aside-lang .link.active {
  background: #bb4430;
  color: #fdfffc;
  transition: all 0.3s ease-in-out 0; }

.btn-group.page-control {
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  justify-content: flex-start; }

.btn-group.page-control.vertical {
  flex-flow: column nowrap;
  justify-content: center; }

.btn-group.page-control a,
.btn-group.page-control button {
  background: transparent;
  color: #66666e;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 0.667em;
  font-weight: 800;
  transition: all 0.3s ease-in-out 0; }

.btn-group.page-control a:hover,
.btn-group.page-control button:hover {
  background: #bb4430;
  color: #fdfffc;
  transition: all 0.3s ease-in-out 0; }

.btn-group.page-control > * {
  border-top: solid 0.5px #ebebed;
  border-bottom: solid 0.5px #ebebed;
  border-left: solid 0.5px #ebebed; }

.btn-group.page-control > *:last-child {
  border-right: solid 0.5px #ebebed; }

/* LINKS */
a {
  cursor: pointer;
  outline: none;
  text-decoration: none; }

.link {
  color: #342e37;
  position: relative; }

.link:hover {
  transition: linear 0.2s; }

.link.nav-lang {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.3px;
  margin: 1em;
  color: #ab9b96; }

.link.nav-lang:hover {
  color: #bb4430; }

.link-underlined {
  border: none;
  position: relative; }

.link-underlined:before {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  content: "";
  height: 2px;
  transform: scaleX(0);
  visibility: hidden;
  width: 100%; }

.link-underlined:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible; }

.card-back .link-underlined:before {
  background: #bb4430;
  position: absolute;
  top: 2em;
  left: 0; }

.front .link-underlined:before {
  background: #fdfffc;
  position: absolute;
  top: .2em;
  left: 0;
  cursor: pointer; }

input[type=text] {
  border: none;
  background: transparent;
  line-height: 1.86;
  padding: 0.6em 0.6em 0;
  width: 100%;
  font-family: "Nanum Myeongjo", serif; }

.form-underlined {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: baseline;
  overflow: visible;
  width: 60vw; }

.form-section {
  margin: 0 0 3em;
  width: 100%; }

.form-group {
  position: relative;
  border-bottom: solid 1px #d6d2d2;
  display: flex;
  align-items: baseline;
  width: 100%; }

.form-group span {
  float: right;
  font-size: 0.667em;
  color: #7d7c7a;
  font-style: italic; }

input[type=submit] {
  -webkit-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6.5px -4px rgba(43, 45, 66, 0.8); }

.btn.brick {
  background: rgba(92, 120, 70, 0.8);
  color: #fdfffc; }

/* NOT FOUND PAGE */
/*
	Styles for NotFound page are the same as PoemList's 
*/

/*# sourceMappingURL=index.css.map */
