/* NOTE: Typography */
@import url("https://fonts.googleapis.com/css?family=Nanum+Myeongjo:400,800|Roboto:300|Song+Myung");
a, abbr, address, article, aside, audio, b, blockquote, body, button, canvas,
caption, cite, code, dd, del, details, dfn, dl, dt, div, em, embed, fieldset,
figcaption, figure, form, footer, header, html, i, iframe, img, input, ins, kbd,
label, legend, li, link, main, mark, nav, object, ol, output, p, pre, q, s, samp,
section, small, span, strong, sub, summary, sup, table, textarea, tbody,
tfoot, thead, td, th, tr, tt, ruby, time, u, ul, var, video {
  border: 0;
  box-sizing: border-box;
  cursor: default;
  margin: 0;
  outline: none;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

html {
  font-size: 18px;
  height: 100%;
  width: 100%; }

body {
  background: #fff;
  color: #342e37;
  font-family: "Roboto", Tahoma, Arial, sans-serif;
  font-weight: 100;
  line-height: 1.6;
  min-height: 100%;
  min-width: 444px; }

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
  background: #efe9e7; }

/* flip the pane when hovered */
.flip-container:hover .flipper {
  transform: rotateX(-90deg) translateY(160px) translateZ(160px); }

.flip-container, .front, .back, .flipper {
  width: 320px;
  height: 320px;
  position: relative; }

/* flip speed goes here */
.flipper {
  position: relative;
  opacity: 1;
  transition: all 0.7s ease-in-out 0s;
  transform-style: preserve-3d;
  transform-origin: 100% 50%; }

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0; }

/* front pane, placed above back */
.front {
  background: orange;
  transform: rotateX(0deg);
  transition: background 0.7s ease-in-out 0s;
  z-index: 2; }

/* back, initially hidden pane */
.back {
  background: blue;
  transition: background 0.7s ease-in-out 0s;
  transform: rotateX(90deg) translateY(-160px) translateZ(160px); }

/* CSSTransitions FLIPPER */
.flip-container {
  perspective: 1000px;
  height: 380px;
  width: 360px; }

.flip-container .card-front,
.flip-container .card-back {
  backface-visibility: hidden; }

.flipper-enter {
  opacity: 0.01;
  transform: rotateY(180deg); }

.flipper-enter-active {
  opacity: 0.98;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
  transition: 1s; }

.flipper-enter-done {
  opacity: 0.98;
  transform: rotateY(0deg); }

.flipper-exit {
  opacity: 0.98;
  transform: rotateY(0deg); }

.flipper-exit-active {
  opacity: 0.01;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  transition: 1s; }

.flipper-exit-done {
  opacity: 0.01;
  transform: rotateY(-180deg); }

/* CSSTransitions FADE IN */
.shortfade-enter,
.longfade-enter {
  opacity: 0.01; }

.shortfade-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in-out; }

.longfade-enter-active {
  opacity: 1;
  transition: opacity 1.2s ease-in-out 0s; }

.shortfade-enter-done,
.shortfade-exit,
.shortfade-exit-active,
.shortfade-exit-done,
.longfade-enter-done,
.longfade-exit,
.longfade-exit-active,
.longfade-exit-done {
  opacity: 1; }

/* POEM DETAIL COMPONENT */
div.lateral-page {
  background: #fdfffc;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 17.086rem 1fr;
  grid-template-rows: 1fr;
  position: relative;
  padding-bottom: 2.25rem; }

div.lateral-page .lateral-page-side {
  background: #ebebed;
  font-family: "Nanum Myeongjo", serif; }

div.lateral-page .lateral-page-side > div.lateral-page-side-content {
  border-top: solid 1px white;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding-top: 0.667rem;
  position: fixed;
  top: 2.25rem;
  left: 1.5rem; }

div.lateral-page-side-content > h2 {
  color: #d6d2d2;
  font-weight: 300; }

div.lateral-page-side-content > section:nth-of-type(1) {
  margin: 1.667rem 0 2.779rem; }

div.lateral-page-side-content > section:nth-of-type(1) > p {
  color: #66666e;
  font-size: 0.8335rem; }

div.lateral-page-side-content > section:nth-child(3) {
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 2.667rem 0 1.667rem; }

div.lateral-page-side-content > section:nth-child(3) > button {
  background: #efe9e7;
  line-height: 1.94;
  margin: 0.5px 0;
  padding: 0 0.667em 0 3.33px; }

div.lateral-page-side-content > section:nth-child(3) > button:hover {
  background: transparent;
  color: #7d7c7a;
  transition: all 0.3s ease-in-out 0s; }

div.lateral-page-side-content > section:nth-child(3) > button.active {
  color: #a8763e;
  transition: all 0.3s ease-in-out 0s; }

div.lateral-page-side-content > section:nth-child(4) {
  font-size: 0.8335em;
  line-height: 1.94; }

div.lateral-page-side-content > *:last-child {
  margin: 2.779rem 0 1.667rem; }

div.lateral-page-side-content > *:last-child > .btn {
  background: #efe9e7;
  margin-right: 1px; }

div.lateral-page-side-content > *:last-child > .btn:hover {
  background: #bb4430;
  color: #fdfffc; }

div.lateral-page .lateral-page-main {
  padding: 2rem 4rem; }

section.panels {
  display: grid;
  grid-auto-flow: row dense;
  grid-auto-rows: max-content;
  grid-template-columns: 1fr 1.67fr; }

div.panel,
section.panel {
  background: #fdfffc;
  border: solid 2px #fdfffc;
  overflow: auto; }

div.panel.jp-vertical,
section.panel.jp-vertical {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl; }

section.panels.jp-vertical {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl; }

section.panels > .panel:nth-child(1) {
  background: #7d7c7a;
  color: #262229;
  display: flex;
  align-items: flex-start;
  flex-flow: column nowrap;
  justify-content: center;
  font-family: "Mplus 1p", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  grid-area: 1/1/3/2;
  opacity: 0.7;
  padding: 2.5em 2em; }

section.panels > .panel:nth-child(1):hover {
  background: #342e37;
  color: #fdfffc;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s; }

section.panels > .panel:nth-child(2) {
  background: #fcf8f0;
  color: #d6d2d2;
  font-size: 3.8rem;
  height: 40rem;
  grid-area: 1/2/5/3;
  padding: 6rem 7.5rem; }

section.panels > .panel:nth-child(2):hover {
  background: #ab9b96;
  color: #342e37;
  transition: all 0.4s ease-in-out 0s; }

section.panels > .panel:nth-child(3) {
  background: #d6d2d2;
  color: #66666e;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 3.1rem;
  letter-spacing: 8px;
  grid-area: 3/1/6/2;
  padding: 5rem;
  text-align: center; }

section.panels > .panel:nth-child(3):hover {
  background: #a8763e;
  transition: all 0.4s ease-in-out 0s; }

section.panels > .panel:nth-child(4) {
  background: #5c7846;
  color: #d6d2d2;
  font-family: "Mplus 1p", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  grid-area: 5/2/6/3;
  opacity: 0.3;
  padding: 4rem 8% 0.5rem; }

section.panels > .panel:nth-child(4):hover {
  background: #ba6e6e;
  opacity: 1;
  transition: all 0.4s ease-in-out 0s; }

main.lateral-page-main .panel.text {
  padding: 2rem 0; }

main.lateral-page-main .panel.text > p {
  font-size: 2em;
  line-height: 6.5;
  padding-top: 2rem; }

main.lateral-page-main .panel.text > p:hover {
  color: #bb4430;
  transition: all 0.4s ease-in-out 0s; }

main.lateral-page-main .panel.text article {
  line-height: 1.74;
  text-align: justify; }

/* POEMS COMPONENT */
div.focal-page {
  border-top: solid 5px #bb4430;
  border-left: solid 5px #efe9e7;
  border-right: solid 5px #efe9e7;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: flex-start;
  height: 100%;
  position: relative;
  width: 100%; }

div.focal-page .focal-page-header {
  padding-top: 7.5rem;
  padding-bottom: 1rem; }

div.focal-page .focal-page-title {
  color: #bb4430;
  font-family: "Nanum Myeongjo", serif;
  font-size: 3em;
  font-weight: 800;
  letter-spacing: 0.3px;
  line-height: 2.44;
  text-align: center; }

div.focal-page .focal-page-nav {
  text-align: center; }

div.focal-page .focal-page-main {
  padding-top: 2rem; }

div.focal-page .focal-page-main.cards {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  max-width: 1024px; }

div.focal-page .focal-page-main.cards:hover .card {
  opacity: 0.2;
  transition: all 0.3s ease-in-out 0s; }

div.focal-page .focal-page-main.cards .card:hover {
  opacity: 1;
  transition: all 0.3s ease-in-out 0s; }

/* CARD */
div.card {
  -webkit-box-shadow: inset 0px 0px 12px -4px #2b2d42;
  -moz-box-shadow: inset 0px 0px 12px -4px #2b2d42;
  box-shadow: inset 0px 0px 12px -4px #2b2d42;
  background: #bb4430;
  border-radius: 1.5px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  height: 380px;
  margin: 3em;
  min-width: 360px;
  position: relative; }

div.card .card-front,
div.card .card-back {
  -webkit-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  -moz-box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  box-shadow: 0px 2px 6px -4px rgba(43, 45, 66, 0.8);
  background: rgba(253, 255, 252, 0.98);
  border: solid 0.5px #ebebed;
  border-radius: 1.5px;
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: justify;
  width: 100%; }

div.card .card-front:hover,
div.card .card-back:hover,
div.card .card-verses > p:hover {
  cursor: pointer; }

div.card .card-front.jp-vertical {
  justify-content: flex-start;
  padding-top: 6em; }

div.card .card-back.jp-vertical {
  padding-top: 4em; }

div.card .card-front.jp-vertical > .card-verses,
div.card .card-back.jp-vertical {
  text-orientation: upright;
  text-transform: full-width;
  text-combine-upright: digits 4;
  writing-mode: vertical-rl;
  font-size: 1.6em;
  font-family: "Mplus 1p", sans-serif;
  font-weight: 300;
  height: 100%;
  letter-spacing: 3px;
  line-height: 1.66; }

div.card .card-front {
  /* important for csstransitions/flipper  */
  z-index: 2; }

div.card .card-back > .link,
div.card .card-back > .link:visited {
  color: #66666e; }

div.card .card-back:hover > .link,
div.card .card-back:hover > .link:visited {
  color: #bb4430; }

div.card .card-back > .link.underlined:before {
  height: 1px; }

div.card .card-numeral {
  font-size: 0.6rem;
  position: absolute;
  bottom: 1em;
  left: 1em; }

/* BASIC ANIMATIONS */
.underlined {
  border: none;
  position: relative; }

.underlined:before {
  -webkit-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  content: '';
  height: 2px;
  transform: scaleX(0);
  visibility: hidden;
  width: 100%; }

.underlined:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  visibility: visible; }

.link.underlined:before {
  background: #bb4430;
  position: absolute;
  top: 2em;
  left: 0; }

/* BUTTONS */
button {
  font-family: "Source Sans Pro", sans-serif;
  cursor: pointer;
  outline: none; }

button:hover {
  transition: all 0.3s ease-in-out 0s; }

button::-moz-focus-inner {
  border: 0; }

.btn.round {
  border-radius: 50%;
  height: 3em;
  text-align: center;
  width: 3em; }

.btn.brick {
  background: transparent;
  border: solid 0.5px #ebebed;
  line-height: 1.94;
  padding: 0 2.25em; }

/* BUTTON GROUPS */
.btn-group.aside-lang {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: center;
  position: fixed;
  bottom: 40%;
  left: 1%; }

.btn-group.aside-lang a {
  background: transparent;
  border-radius: 50%;
  color: #ab9b96;
  font-family: "Nanum Myeongjo", serif;
  height: 3em;
  line-height: 3;
  margin: 0.56em 1em;
  text-align: center;
  width: 3em; }

.btn-group.aside-lang a:visited {
  background: transparent; }

.btn-group.aside-lang a:hover,
.btn-group.aside-lang a.active:hover {
  background: #342e37;
  color: #fdfffc;
  transition: 0.3s ease-in-out 0s; }

.btn-group.aside-lang a.active {
  background: #bb4430;
  color: #fdfffc; }

.btn-group.aside-scroll {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  justify-content: flex-end;
  height: 100%;
  outline: none;
  position: fixed;
  bottom: 24%;
  right: 1%; }

.btn-group.aside-scroll button {
  background: #66666e;
  color: #fdfffc;
  font-family: "Nanum Myeongjo", serif;
  margin: 0.66em 1em;
  outline: none; }

.btn-group.aside-scroll button::-moz-focus-inner {
  border: 0; }

.btn-group.aside-scroll button:hover {
  background: #bb4430;
  transition: 0.3s ease-in-out 0s; }

/* LINKS */
a {
  cursor: pointer;
  outline: none;
  text-decoration: none; }

.link {
  color: #342e37;
  position: relative; }

.link:hover {
  transition: linear 0.2s; }

.link.nav-lang {
  font-family: 'Roboto',sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -0.3px;
  margin: 1em; }

.link.nav-lang:hover {
  color: #bb4430; }

/* NOT FOUND COMPONENT */
div.focal-page.notfound {
  justify-content: center; }

/*# sourceMappingURL=index.css.map */
